{% extends 'reservations/wizard/base_wizard.html' %}
{% load crispy_forms_tags %}
{% block step_title %}Confirm Appointment{% endblock %}
{% block form_content %}
    <div class="p-4 border mb-3">
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Service:</strong>
            </div>
            <div class="col-md-6">{{ service.name }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Duration:</strong>
            </div>
            <div class="col-md-6">{{ service.duration }} min</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Price:</strong>
            </div>
            <div class="col-md-6">{{ service.price }} zł</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Stylist:</strong>
            </div>
            <div class="col-md-6">{{ employee.name }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Date:</strong>
            </div>
            <div class="col-md-6">{{ reservation_date|date:"F j, Y" }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Time:</strong>
            </div>
            <div class="col-md-6">{{ start_time|time:"H:i" }} - {{ end_time|time:"H:i" }}</div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">{{ wizard.form.notes|as_crispy_field }}</div>
    </div>
{% endblock %}
