{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row m-5">
                <div class="col-md-8 col-lg-8 mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Log in!</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary text-white" type="submit">Login</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Have an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
