{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-7 mb-4">
                    <h2 class="site-section-heading">Your Visits</h2>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>Service</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in reservations %}
                                <tr>
                                    <td>{{ reservation.get_date }}</td>
                                    <td>{{ reservation.get_start_time }}</td>
                                    <td>{{ reservation.get_service_name }}</td>
                                    <td>{{ reservation.status }}</td>
                                    <td>
                                        <form method="post" action="{% url 'reservation_cancel' reservation.id %}">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    class="btn-danger"
                                                    {% if reservation.status == "CANCEL" %}disabled{% endif %}>
                                                {% if reservation.status == "CANCEL" %}
                                                    CANCELED
                                                {% else %}
                                                    CANCEL
                                                {% endif %}
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No reservations found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
