option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: "django-insecure-o)k0c$hqsv&*^*lw5=d(v%5o-s)vw(lw5t14l#4q2n!4&)%x*5"
    DEBUG: "False"
    DJANGO_SETTINGS_MODULE: core.settings
  container_commands:
  01_migration:
      command: "source /var/app/venv/*/bin/activate && python manage.py makemigrations"
  02_migrate:
      command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
      leader_only: true
  03_collectstatic:
      command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
